.App {
  text-align: center;
}

.schedule {
  overflow-x: scroll;
}

.schedule__itemcontainer{
  display: flex;
}

.schedule__item{
  display: flex;
  margin: 2em;
  border: 0.2em black solid;
}

.schedule__item-title{
  border: 0.02em black solid;
  align-self: flex-start;
}